@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(241, 245, 249);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71767c;
}
